.env
__pycache__/
*.pyc
.venv/
.uv/
uv.lock.bak
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
*.egg-info/
dist/
build/
data/
notebooks/.ipynb_checkpoints/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
